.button {
  font-size: 24px;
  padding: 20px 60px;
  border-radius: 50px;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  text-align: center;
}

.button:hover {
  background-color: var(--primary-color-hover);
}

.button--fullWidth {
  width: 100%;
}

.button--variant--white {
  background-color: #fff;
  color: var(--primary-color);
}
.button--variant--white:hover {
  background-color: var(--primary-color);
  color: white;
}

.button--variant--outline-dark {
  background-color: transparent;
  color: black;
  border: 2px solid black;
}
.button--variant--outline-dark:hover {
  color: white;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
