.header {
  background-color: var(--header-background);
  display: flex;
  align-items: center;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-wrap: wrap;
}

.header__logo {
  margin-right: 30px;
}

.header__nav {
  flex-grow: 1;
}

.header__nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-flex;
}

.header__nav ul li {
  margin: 0 30px;
}

.header__nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header__nav ul li a:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 900px) {
  .header {
    padding-right: 20px;
    padding-left: 20px;
  }
  .header .button {
    width: 100%;
    margin-bottom: 20px;
  }
  .header form {
    width: 100%;
  }
  .header__nav {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}