.place-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.place-card__footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.place-card__image-wrapper {
  margin-bottom: 20px;
}

.place-card__image {
  padding-bottom: 75%;
  background-size: cover;
  background-repeat: no-repeat;
}