.product-page {
  display: flex;
  flex-wrap: wrap;
  padding: 0 80px;
}

.product-page__footer {
  border: 1px solid var(--border-color);
}

.product-page__image {
  padding-bottom: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-page__column {
  width: 50%;
}

.product-page__title {
  font-size: 60px;
  font-weight: 400;
}

.product-page__column:first-child {
  padding-right: 50px;
}

.product-page__column:last-child {
  padding-left: 50px;
}

@media screen and (max-width: 900px) {
  .product-page {
    padding-right: 40px;
    padding-left: 40px;
  }
  .product-page__column {
    width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .product-page__title {
    font-size: 40px;
    font-weight: 400;
  }
}